<div id="tab6" class="col-sm-12 tab-pane fade">
    <div class="col-sm-12" style="margin-top: 50px">
        <div class="form-group row">
        <h4 class="text-center">
            <b>THU HOẠCH</b>
        </h4>
        <br>
        </div>
        <hr/>
           
        <table class="table table-bordered table-hover" >
            <thead>
                <tr class="">
                    <th class="text-center">Lần</th>
                    <th class="text-center">Ngày thu hoạch</th>
                    <th class="text-center">Loại sản phẩm</th>
                    <th class="text-center">Trọng lượng</th>
                    <th class="text-center">Đơn vị tính</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">ghi chú</th>
                    <th class="text-center">Thao tác</th>
                    
                </tr>
            </thead>
            <tbody id="listHarvestDetail_Edit2"> </tbody>
                
        </table>
       
    </div>
</div>