<div id="tab7" class="col-sm-12 tab-pane fade">
    <div class="col-sm-12" style="margin-top: 50px">
        <div class="form-group row">
        <h4 class="text-center">
            <b>VẬT LIỆU CHUẨN BỊ AO</b></h4>
        <br>
        </div>
        <form action="" method="post">
            <div class="form-group row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <!-- <tr>
                                <th colspan="5" class="text-center">
                                    VẬT TƯ CHUẨN BỊ AO
                                </th>
                            </tr> -->
                            <tr class="">
                                <!-- <th class="text-center" width="5%">#</th> -->
                                <th class="text-center">Loại</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Ngày Xử lý</th>
                                <th class="text-center">Ghi chú</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="listMaterialPondPreparation" >
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </form> 
    </div>
</div>