<footer id="footer">
        <style>
            #gioithieu {
                color: #fff
            }
            .chutrang {
                color: #fff
            }
            .chuxanh {
                color: #00CAF2
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            
            
            }
    
            li a {
                /* display: block; */
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
            }
    
            /* Change the link color on hover */
            li a:hover {
                /* background-color: #555; */
            
            }
            .soc-icon {
                width:60px;
                height:60px
            }
        </style>
        <div class="container">
            <div class="row" >
                    <div class="col-md-6 col-sm-12 " id="gioithieu">
                        <h4 class="chuxanh">Giới thiệu</h4>
                        <p>
                           Trung tâm giống Thủy sản tỉnh An Giang đang kết hợp với Khoa Thủy sản - Trường Đại học Cần Thơ, Sở Khoa học và Công nghệ, 
                            Sở Nông nghiệp & PTNT tỉnh An Giang triển khai nhiều đề tài nghiên cứu "Thực nghiệm xây dựng mô hình nuôi tôm càng xanh thương phẩm trong ao đất ở tỉnh An Giang",
                            "Ứng dụng KHKT vào sản xuất con giống", "Phòng trị bệnh cho tôm",
                            "kỹ thuật nuôi tôm luân canh trên chân ruộng lúa".
                            <br>Nhằm cải thiện kỹ thuật nuôi, khắc phục hạn chế về số lượng, năng suất, chất lượng của tôm.
                            <br>Mô hình nuôi Tôm Càng Xanh theo mô hình ViệtGAP được thực nghiệm tại xã Phú Thuận An Giang.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12" id="lienket">
                        <h4 class="chuxanh">Liên Kết </h4>
                        <ul>
                            <li>
                                # <a href="http://www.vietgap.com">vietGAP Việt Nam</a>
                            </li> 
                                 # <a href="http://www.vietgap.com/1048/huong-dan-ap-dung/huong-dan-ap-dung-vietgap-trong-thuy-san.html"> Hướng dẫn áp dụng VietGAP trong thủy sản</a>
                            </li>
                            <li>
                                # <a href="http://www.vietgap.com/huong-dan-ap-dung/1048_2971/quy-pham-thuc-hanh-nuoi-trong-thuy-san-tot-tai-viet-nam-vietgap.html">Quy phạm thực hành nuôi trồng thủy sản tốt tại Việt Nam</a>
                            </li>
                            <li>
                                # <a href="http://kythuatnuoitrong.com/an-giang-nuoi-tom-cang-xanh-ung-dung-cong-nghe-cao/">An Giang nuôi tôm càng xanh úng dụng công nghệ cao</a>
                            </li>
                            <li>
                                # <a href="http://www.vietgap.com/thong-tin/998_6711/phat-trien-tom-cang-xanh-toan-duc.html">Toàn Đức Phát triển tôm càng xanh</a>
                            </li>
                            <li>
                                # <a href="https://www.anovapharma.com/tin-ap/agriculture-news/fisheries-information/an-giang-thao-go-kho-khan-cho-nguoi-nuoi-tom-cang-xanh.html?p=3">Anova tháo gở khó khăn muôi tôm càng xanh</a>
                            </li>
                        </ul>
                     </div>
                   
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12" id="lienhe">
                    <h4 class="chuxanh">Liên Hệ</h4>
                    <ul >
                            &nbsp;&nbsp;&nbsp;<li>Địa chỉ:  <br> Khoa Công nghệ Thông tin & Truyền thông - Trường Đại học Cần Thơ
                                <br>Khu 2, đường 3/2, Phường Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ, Việt Nam;</li><br>
                                &nbsp;&nbsp;&nbsp;<li>Điện thoại:&nbsp;&nbsp;84 0292 3831301; </li><br>
                                &nbsp;&nbsp;&nbsp;<li>Email: <a href="" class="chuxanh">webmaster@iotlab.net.vn</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-12" id="lienhe">
                    <h4 class="chuxanh">Liên kết khác</h4>
                    <ul>
                        <li>
                            <a href=""></a> <img src="/images/icons/facebook.png" alt="" class="soc-icon"></a>
                        </li>
                        <li>
                            <a href=""> <img src="/images/icons/instagram.png" alt="" class="soc-icon"></a>
                        </li>
                        <li>
                            <a href=""> <img src="/images/icons/youtube.png" alt="" class="soc-icon"></a>
                        </li> 
                        <li>
                            <a href=""> <img src="/images/icons/twitter.png" alt="" class="soc-icon"></a>
                        </li>
                        
                    </ul>
                </div>
               
                        
    
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <p class="chuxanh">Copyright &copy;  Bộ môn Công Nghệ Phần Mềm, Khoa CNTT & TT, Trường Đại Học Cần Thơ. | All Rights Reserved. Version 2.0</p>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->