    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" 
                style="font-size: 25px;color: #00DBFF;">
                <img src="/images/logo.png" width="50px" height="50px" style="display:inline;margin-top: -15px;">
                TÔM PHÚ THUẬN
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <style>
                    #icon-dk
                    {
                      width:10px;height:10px;margin-right: 10px;margin-bottom: 3px;
                    }
                    #icon-dashboard,  #icon-map-white  {
                            width:15px;height:15px;margin-right: 10px;margin-bottom: 3px;
                    }
                    #icon-monan {
                        width:18px;height:18px;margin-right: 10px;margin-bottom: 3px;
                    }
                  </style>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-size: 18px;">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="/trangchu/gioithieu" style="color: #fff;
                        ">Giới thiệu
                        <!-- <image src="/images/icons/icon-info.png" id="icon-dashboard"/> -->
                        </a>
                    </li>
                    <li>
                        <a href="/tintuc" style="color: #fff">
                            <!-- <image src="/images/icons/newspapers.png" id="icon-dashboard"/> -->
                            Tin tức
                        </a>
                    </li>
                    <li>
                        <a href="/monan" style="color: #fff">
                            <!--  <image src="/images/icons/dinner.png" id="icon-monan"/> -->
                            Món ăn
                        </a>
                    </li>
                    <li>
                        <a href="/sanpham" style="color: #fff">
                            <!-- <image src="/images/icons/shopping.png" id="icon-dashboard"/> -->
                            Rao bán tôm
                        </a>
                    </li>
                    <li>
                        <a href="/trangchu/themphanhoi" style="color: #fff">
                            <!-- <image src="/images/icons/chat.png" id="icon-dashboard"/> -->
                            Phản hồi
                        </a>
                    </li>
                    <li>
                        <a href="/quantrac/dangnhap" style="color: #fff">
                            <!-- <image src="/images/icons/login.png" id="icon-dashboard"/> -->
                            <!-- Đăng nhập -->
                            Hệ thống quan trắc
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
     
    <!-- <section id="slider">
        <div style="width: 100%; " >
    
        <div id="wowslider-container1" style="width: 100%;">
        <div class="ws_images" style="width: 100%;"><ul>
            <li><a href="http://wowslider.com"><img src="/slider/data1/images/1_1002824.jpg" alt="wow slider" title="" id="wows1_0" width="100%" /></a></li>
            <li><img src="/slider/data1/images/anh_12_zing.jpg" width="100%" alt="" title="" id="wows1_1"/></li>
        </ul></div>
        <div class="ws_bullets"><div>
            <a href="#" title=""><span><img width="100%" src="/slider/data1/tooltips/1_1002824.jpg" alt=""/>1</span></a>
            <a href="#" title=""><span><img width="100%" src="/slider/data1/tooltips/anh_12_zing.jpg" alt=""/>2</span></a>
        </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">http://wowslider.net/</a> by WOWSlider.com v8.7</div>
        <div class="ws_shadow"></div>
        </div>  
    <script type="text/javascript" src="/slider/engine1/wowslider.js"></script>
    <script type="text/javascript" src="/slider/engine1/script.js"></script>
    
    </div>
  </section> -->