<div align="center" style="margin-top: 50px;margin-bottom:50px">
        <h3 >TÔM PHÚ THUẬN</h3>
</div>
<div class="row" align="center" style="margin-top: 50px;margin-bottom:50px" >
   
    <div class="col-sm-3" align="center">
        <img src="/images/icons/gap-green.png" alt="" width="70" heght="70" >
        <h5>Đạt Tiêu Chuẩn VietGAP</h5>
        <div style="width: 180px">
            <p>
                Áp dụng thành công VietGAP vào mô hình nuôi tôm càng xanh. 
                
            
            </p>
        </div>
    </div>
    <div class="col-sm-3" align="center">
        <img src="/images/icons/safe-green.png" alt="" width="70" heght="70">
        <h5>An Toàn Vệ Sinh Thực Phẩm</h5>
        <div style="width: 180px">
                <p>Không sử dụng kháng sinh trong nuôi trồng thuỷ sản.</p>
        </div>
    </div>
    <div class="col-sm-3" align="center">
        <img src="/images/icons/map-pin-red.png" alt="" width="70" heght="70">
        <h5>Truy Xuất Được Nguồn Gốc</h5>
        <div style="width: 180px">
                <p>Có thể dễ dàng truy xuất nguồn gốc qua bản đồ</p>
        </div>
    </div>
    <div class="col-sm-3" align="center">
        <img src="/images/icons/shopping-yellow.png" alt="" width="70" heght="70">
        <h5>Sản Phẩm Chất Lượng</h5>
        <div style="width: 180px">
                <p>Quản lý từ con giống đầu vào đến sản phẩm đầu ra.</p>
        </div>
    </div>
</div>