<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <style>
    .page h1 {   
            color:#ff5c33;
            font-size:120px;
            text-align:center;
        }
    .page h3 {
        color: #ff4d4d;
        text-align:center;
    }

    </style>
</head>
<body style="background-color: #F9F9F9">
    <div class="container">
        <div class="row page">
            <h1>404</h1>
            <h3>Page Not Found</h3>
           
        </div>
    </div>
</body>
</html>