<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/images/icons/gardener.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p class ="tennguoidung"></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Trực tuyến</a>
        </div>
      </div>
  
      <style>
          #txt-header{
            color: #FFF;
          }
          #icon-home,#icon-dk
          {
            width:10px;height:10px;margin-right: 10px;margin-bottom: 3px;
          }
          #icon-dashboard,#icon-database,#icon-house,#icon-layers,#icon-bill {
            width:15px;height:15px;margin-right: 10px;margin-bottom: 3px;
          }
          #icon-havest {
            width:17px;height:17px;margin-right: 8px;margin-bottom: 3px;
          }
          #icon-chitiet {
            width:40px;height:40px;margin-right: 8px;margin-bottom: 3px;
          }

      </style>
      
      <ul class="sidebar-menu" id="mainmenu"><%include loadmenu.ejs%> </ul>
    </section>
    <!-- /.sidebar -->
  </aside>